<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - LiteCommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="~/lib/overlay-scrollbars/overlayscrollbars.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="layout-fixed fixed-header fixed-footer sidebar-expand-lg sidebar-open bg-body-tertiary">
    <div class="app-wrapper">

        <!--begin::Header-->
        @{
            await Html.RenderPartialAsync("_Header");
        }
        <!--end::Header-->
        <!--begin::Sidebar-->
        @{
            await Html.RenderPartialAsync("_Sidebar");
        }
        <!--end::Sidebar-->
        <!--begin::App Main-->
        <main class="app-main">
            <!--begin::App Content Header-->
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="mb-0">@ViewData["Title"]</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!--end::App Content-->

        </main>
        <!--end::App Main-->
        <!--begin::Footer-->
        @{
            await Html.RenderPartialAsync("_Footer");
        }
        <!--end::Footer-->
    </div>

    <script src="~/lib/overlay-scrollbars/overlayscrollbars.browser.es6.min.js"></script>
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/adminlte/js/adminlte.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
